.navbar-form .input-group>.form-control.topbar-search-input {
    width: 300px;
}
.notifications-container {
	font-size: 14px;
}
.main-header-text-container {
    padding-top: 6em;
    padding-bottom: 10em;
}
.main-header-text {
    text-align: center;
}
#signup-body {
    background-image: url('../img/bg.jpg');
    background-size: 1920px 1080px;
    background-position: center;
}
.main-header-text{
    color: #fff;
    text-shadow: 1px 1px 7px #444;
}
.top-bar {
    margin-bottom: 0px;
}
.signup-form-element {
    color:#fff;
    text-shadow: 1px 1px 2px #000;
}
small, .small {
    font-size: 50%;
}
.glyphicon.notifications {
	font-size: 2.1em;
	color:#555;
}
.navbar-form .input-group>.form-control {
    text-indent: 0.3em;
}
a:hover {
	text-decoration: none;
}
.notifications-link, .notifications-link:hover, .notifications-link:visited, .notifications-link:active {
    text-decoration: none;
}
.filter < .dropdown-menu, .btn {
  width: 100%; 
}

/* CSS used here will be applied after bootstrap.css */

ul.notifications {
	width: 300px;
	padding: 7px;
	overflow:auto;
}

.glyphicon-bell {
	font-size:1.5rem;
}

    
.menu-title-dropdown-header {
	color:#888;
	font-size:1.2em;
	font-weight: bold;
}


.menu-title {
	color:#d9534f;
	font-size:1.5rem;
	display:inline-block;
}
 
.glyphicon-circle-arrow-right {
  	margin-left:10px;     
}
  

.item-title {
	font-size: 1.2em;
	color: #777;
}

.notifications a.content {
	text-decoration:none;
	background:#ccc;

}
    
.notification-item {
 	padding:10px;
 	margin:5px;
 	background:#f1f1f1;
	color: #337ab7;
 	border-radius:4px;
}
.friendButton {
	font-size: 1.5em;
}
.friendNotificationIcon {
  	padding: 0 .2em;
}
#scrollable-dropdown-menu .tt-dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
}

.search-result .thumbnail {
    border-radius: 0 !important;
}
.search-result:first-child {
    margin-top: 0 !important;
}
.search-result {
    margin-top: 20px;
}
.search-result .col-md-2 {
    /*border-right: 1px dotted #ccc;*/
    min-height: 100px;
}
.search-result .middle-panel {
	border-right: 1px dotted #ccc;
}
.search-result ul {
    padding-left: 0 !important;
    list-style: none;
}
.search-result ul li {
    font: 400 normal .85em "Roboto", Arial, Verdana, sans-serif;
    line-height: 30px;
}
.search-result ul li i {
    padding-right: 5px;
}
.search-result .col-md-7 {
    position: relative;
}
/*.search-result h3 {
    font: 500 normal 1.375em "Roboto", Arial, Verdana, sans-serif;
    margin-top: 0 !important;
    margin-bottom: 10px !important;
}*/
.search-result h3 > a,
.search-result i {
    color: #248dc1 !important;
}
.search-result p {
    font: normal normal 1.125em "Roboto", Arial, Verdana, sans-serif;
}
.search-result span.plus {
    position: absolute;
    right: 0;
    top: 126px;
}
.search-result span.plus a {
    background-color: #248dc1;
    padding: 5px 5px 3px 5px;
}
.search-result span.plus a:hover {
    background-color: #414141;
}
.search-result span.plus a i {
    color: #fff !important;
}
.search-result span.border {
    display: block;
    width: 97%;
    margin: 0 15px;
    border-bottom: 1px dotted #ccc;
}
.tag {
    background-color: #2196F3;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;
    color:#fff;
}
.language-tag {
    display: inline;
    margin: 2px;
}
.label-custom {
    background-color: #dddddd;
    box-shadow: 0px 2px 2px #999;
    color: #777;
    font-weight: normal;
}
