.notifications-container {
	font-size: 14px;
}
.glyphicon.notifications {
	font-size: 2.1em;
	color:#555;
}
a:hover {
	text-decoration: none;
}
.notifications-link, .notifications-link:hover, .notifications-link:visited, .notifications-link:active {
    text-decoration: none;
} 